.leaflet-container {
  width: 100vw;
  height: 100vh;
}

// ==========================================================================
// VARIABLES 
// ==========================================================================

$white: #fff;

// ==========================================================================
// BASE STYLES 
// ==========================================================================
*, 
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  // Change this later 
  font-size: 2rem;
}

.Options {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  /*width: 500px;*/
  /*flex-direction: column;*/
}
