@import '../../../../App.scss';

.search {

  &_container {
    margin-top: 1rem;

    // FLEXBOX - LEVEL 1
    display: flex;
  }

  &_input {
    padding: .5rem 1.8rem .5rem .5rem;
  }

  &_icon-container {
    background-color: $blue-dark;
    padding: .5rem;
    border-radius: .3rem;
    margin-left: -.1rem;
  }

  &_icon {
    color: $white;
  }
}